<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="img/favicon.png">
        <title>WebMub | Home</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Noto+Serif:700,400italic' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/responsive.css')}}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- begin:navbar -->
        <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span>WebMub</span></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-top">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#" id="openBtn">Upload WebM</a></li>
                        {% if session['login'] %}
                        <li><a href="/profile/">{{ session['login'] }}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                        {% else %}
                        <li><a href="/login/">Login</a></li>
                        <li><a href="/register/">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- end:navbar -->
        <!-- begin:modal -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>test<!--WebM/GIF Upload (Max filesize: 2MB)--></h3>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-1 col-sm-6 col-12"></div>
                                <div class="col-lg-2 col-sm-6 col-12 cursor" style="text-align:center">
                                    <i class="glyphicon glyphicon-upload" style="font-size:5em; padding:20% 0% 20% 0%"></i>
                                    <br />
                                    Upload Your WebM/Gif
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12 cursor" style="text-align:center">
                                    <i class="glyphicon glyphicon-globe" style="font-size:5em; padding:20% 0% 20% 0%"></i>
                                    <br />
                                    Upload From A URL
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal">Close</button>
                    </div>
                	<!--
                    <form method="POST" action="/upload/" enctype="multipart/form-data">	
	                    <div class="modal-header">
	                        <button type="button" class="close" data-dismiss="modal">×</button>
	                        <h3>WebM/GIF Upload (Max filesize: 2MB)</h3>
	                    </div>
	                    <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-12">
                                        <h3>Upload WebM/GIF</h3>
                                        <div class="input-group">
							                <span class="input-group-btn">
							                    <span class="btn btn-primary btn-file">
							                        Browse&hellip; <input accept="video/webm,image/gif" type="file" name="file">
							                    </span>
							                </span>
							                <input type="text" class="form-control" readonly>
							            </div>                                       
							            <h3>OR</h3>
                                        <h3>Upload From Web</h3>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="url">
                                        </div>
									</div>
								</div>
							</div>
	                    </div>
	                    <div class="modal-footer">
	                    	<input type="submit" value="Upload" class="btn btn-primary"/>
	                        <button class="btn" data-dismiss="modal">Close</button>
	                    </div>
	                </form>
	                -->
                </div>
            </div>
        </div>
        <!-- end:modal -->
        <!-- begin:header -->
        <section id="header">
            <div class="overlay"></div>
        </section>
        <!-- end:header -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger"><center>{{ messages[0] }}</center></div>                        
		{% endif %}  
		{% endwith %}
        {% block content %}
        
        {% endblock %}
        <!-- begin:copyright -->
        <section id="copyright" class="navbar-fixed-bottom panel-footer" style="margin-top:100px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 copy-left">
                        <p>Copyright &copy; 2014 <strong>WebMub</strong>. All Right Reserved.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 copy-right">
                        <ul class="list-inline social-icon">
                            <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" class="icon-youtube" rel="tooltip" title="" data-placement="top" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="icon-instagram" rel="tooltip" title="" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end:copyrigt -->
        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
        <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.isotope.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.easing.js')}}"></script>
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>