{% extends "base.html" %}
{% block content %}
        <!-- start:dashboard -->
        <section id="content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 ">
                    <ul class="gallery">
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1HH.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                        <li class="item">
                            <img alt="150x150" src="img/1H.jpg" />
                            <div class="details">
                                <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end:dashboard -->
{% endblock %}