{% extends "base.html" %}
{% block content %}

		<section id="profile">
			<ul id="people">
				<li>
			    <a href="http://www.lukepeters.me"><img src="http://www.sessionlogs.com/media/icons/defaultIcon.png" /></a>
					<h2>Pillows</h2>
					<span class="info">
						<em>1 Followers</em>
						<em>1 Following</em>
						<em>Follow Me</em>
					</span>
				</li>
			</ul>

			<div class="container">
        <div class="row container-post">
            <!-- break -->
            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content no-padding white-tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='post-atribut'>
                        <div class='row'>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-heart'></i> 2000</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-comments'></i> 400</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-eye'></i> 2500</span></a>
                            </div>
                        </div>
                    </div>">
                        <a href="/video/"><video width="358" height="239" controls="controls" preload="none"><source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm"></video></a>
                    </div>
                    
                    
                </div>
            </div>
            <!-- break -->
            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content no-padding white-tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='post-atribut'>
                        <div class='row'>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-heart'></i> 2000</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-comments'></i> 400</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-eye'></i> 2500</span></a>
                            </div>
                        </div>
                    </div>">
                        <a href="/video/"><video width="358" height="239" controls="controls" preload="none"><source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm"></video></a>
                    </div>
                    
                    
                </div>
            </div>
            <!-- break -->
            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content no-padding white-tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='post-atribut'>
                        <div class='row'>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-heart'></i> 2000</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-comments'></i> 400</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-eye'></i> 2500</span></a>
                            </div>
                        </div>
                    </div>">
                        <a href="/video/"><video width="358" height="239" controls="controls" preload="none"><source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm"></video></a>
                    </div>
                    
                    
                </div>
            </div>
            <!-- break -->
            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content no-padding white-tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='post-atribut'>
                        <div class='row'>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-heart'></i> 2000</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-comments'></i> 400</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-eye'></i> 2500</span></a>
                            </div>
                        </div>
                    </div>">
                        <a href="/video/"><video width="358" height="239" controls="controls" preload="none"><source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm"></video></a>
                    </div>
                    
                    
                </div>
            </div>
            <!-- break -->
            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content no-padding white-tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='post-atribut'>
                        <div class='row'>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-heart'></i> 2000</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-comments'></i> 400</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-eye'></i> 2500</span></a>
                            </div>
                        </div>
                    </div>">
                        <a href="/video/"><video width="358" height="239" controls="controls" preload="none"><source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm"></video></a>
                    </div>
                    
                    
                </div>
            </div>
            <!-- break -->
            <div class="col-md-4 col-sm-6">
                <div class="post-container">
                    <div class="post-content no-padding white-tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='post-atribut'>
                        <div class='row'>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-heart'></i> 2000</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-comments'></i> 400</span></a>
                            </div>
                            <div class='col-md-4 col-sm-4 col-xs-4'>
                                <a href='#'><span><i class='fa fa-eye'></i> 2500</span></a>
                            </div>
                        </div>
                    </div>">
                        <a href="/video/"><video width="358" height="239" controls="controls" preload="none"><source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm"></video></a>
                    </div>
                    
                    
                </div>
            </div>
        <!-- end:article -->

      </div>
		</section>
{% endblock %}